html, body {
    height: 100%; /* тут*/
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    margin-left: auto;
}
/*До сайдбара*/
/* .main {
    width: 75%;
    display: flex;
    flex-direction: column;
} */
body {
    display: flex;
    font-family: Helvetica;
}
.wrapper {
    display: flex;
}
* {
    margin: 0;
}
.sideBar {
    /* height: auto; */
    height: 100%;
    transition: all 1s ease;
    left: -25%;
    position: fixed;
    width: 25%;
    background-color: #000;
    color: #fff;
    /* font-family: Helvetica; */
}
/*До сайдбара*/
/*
    .sideBar {
    width: 25%;
    background-color: #000;
    color: #fff;
    }
*/
.top {
    padding: 30px;
}
.top-text-2 {
    display: flex;
}
.top-text-2 h3{
    margin-left: 10px;
}
.top-text {
    display: flex;
    justify-content: space-between;
}
#search {
    cursor: pointer;
}
.profile {
    background: #202020;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-text {
    margin-left: 15px;
}
.profile-main {
    display: flex;
    align-items: center;
}
#profile-img {
    width: 48px;
}
#profile-more {
    /* width: 20px; */
    font-size: 20px;
    cursor: pointer;
}
.profile-name {
    font-size: 15px;
}
.profile-owner {
    font-size: 12px;
    color: #9B9B9B;
}
.tasks {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.numbers {
    font-size: 20px;
}
.task-type {
    font-size: 12px;
    opacity: 0.5;
}
.menu-title {
    font-size: 13px;
    padding: 10px 10px 10px 20px;
    color: #878787;
}
.menu-category {
    padding: 10px 10px 10px 20px;
}
.menu-category p {
    font-size: 15px;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 35px 30px 10px 30px;
}
.header-intro {
    font-size: 32px;
    color: #131313;
    display: flex;
    align-items: center;
}
.header-intro img {
    cursor: pointer;
}
.header-intro p {
    margin: 0px 10px 0px 10px;
}
#shape {
    width: 40px;
}
#more-info {
    /* width: 25px; */
    cursor: pointer;
}
.shape-background {
    height: 41px;
    background-color: #FFC200;
    border-radius: 20%;
}
.users i {
    /* width: 30px; */
    font-size: 30px;
    margin-left: 5px;
}
.users {
    display: flex;
    align-items: center;
}
#share {
    /* border-radius: 20%; */
    border-radius: 15px;
    border: none;
    padding: 5px 15px 5px 15px;
    background-color: #EAEAEA;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;
    height: 30px;
}
.chat-block {
    display: flex;
    border-radius: 15px;
    margin-left: 10px;
    background: #FFF8DD;
}
.chat-block i{
    /* width: 16px; */
    font-size: 20px;
    color: #FFC200;
    margin-left: 10px;
    margin-top: 4px;
    cursor: pointer;

}
#chat {
    background: #FFF8DD;
    border-radius: 15px;
    border: none;
    padding: 1px 10px 1px 6px;
    font-size: 14px;
    color: #FFC200;
    cursor: pointer;
    /* padding: 15px 5px 5px 35px; */
}
.nav {
    display: flex;
    margin-left: 15px;
}
.nav-elem {
    padding: 15px;
    /* color: #131313;
    opacity: 70%; */
    color: #A9A9A9;
    cursor: pointer;
}
.main-page {
    background-color: #F7F6F3;
    flex-grow: 3;
    padding-top: 30px;
    padding-bottom: 30px;
    /* height: 82%; */
    /* padding: 30px 0 120px 0; */
}
.main-wrapper {
    /* height: 18%; */
}
.activity {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 30px 30px 45px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.day {
    opacity: 0.5;
    font-size: 14px;
    color: #131313;
}
.message-img {
    background: #CEF9C6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* position: relative; */

}
.message-img i {
    /* position: absolute;
    top: 15px;
    left: 14px; */
    margin-top: 13px;
    margin-left: 12px;
    font-size: 16px;
}
.first-part {
    display: flex;
}
.message {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.first-part p {
    width: 460px;
    font-size: 16px;
    color: #131313;
    line-height: 20px;
    margin-left: 20px;
}
.time {
    opacity: 0.7;
    font-size: 14px;
    color: #131313;
}
.chat-icon {
    background: #FFF8DD;
}
.chat-icon img {
    width: 15px;
}
.apendix {
    width: 75%;
    margin-top: 20px;
    background: #F7F6F3;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
}
.download-icon {
    background: #E3EFFF;
}
.download-icon i{
    margin-top: 13px;
    margin-left: 10px;
    /* width: 15px; */
}
.images {
    margin-top: 20px;
    display: flex;
    /* padding: 0 0 0 50px; */
    margin-left: 60px;
    
}
.images img{
    border-radius: 8px;
    margin-right: 10px;
}
.buttons {
    display: flex;
}

/*Стилизация табов*/

.tab {
    display: none;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 30px 30px 45px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.tab.is-active {
    display: block;
}
.nav-elem.is-active {
    color: #000000;
    border-bottom: 2px solid #FFC200;
}

/*Стилизация сайдбара */

#check{
    display: none;
}
label #btn,label #cancel{
    position: fixed;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    /* margin: 30% 30px 0 5px; */
    top: 50%;
    left: 10px;
    
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all 1s ease;
}
label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sideBar{
    /* position: static; */
    left: 0;
    transition: all 1s ease;
}
#check:checked ~ .main{
    width: 75%;
}
#check:checked ~ label #btn{
    margin-left: 25%;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-left: 25%;
    opacity: 1;
    visibility: visible;
}
